.about{
    margin: 20px;
    display: flex;
}
.about p{
    display: inline;
    width: 65%;
    text-align: justify;
}
.about img{
    margin: auto;
}

.toLeft{
    float: left;
    width: 65%;
    text-align: justify;

}

.toLeft h2, h3{
    margin: 10;
    text-align: center; 
}

.toRight{
    display: block;
    float: right;
    width: 30%;
}

input[type=text] {
    font-family: 'Antonio', sans-serif;
    padding: 12px 20px;
    margin: 8px 0;
    width: 65%;
  }

textarea{
  font-family: 'Antonio', sans-serif;
  padding: 12px 20px;
  margin: 8px 0;
  width: 65%;
}
