.gallery {
    margin: 1%;
    position: relative;
    display: inline-block;
    width: 31%;
  }
  
.gallery .img-bot {
    width: 100%;
    height: auto;
  }

.gallery .img-top {
    width: 100%;
    height: auto;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.gallery:hover .img-top {
    display: inline;
}