.recipeBox img{
    margin: 1%;
    position: relative;
    display: block;
    width: 50%;
    float: right;
}

h3{
    margin: 0;
}
#checkboxes ul {
    margin-bottom: 10;
    list-style: none;
    float: left;
}

#checkboxes li {
    text-align: left;
}

#preparation {
    float: left;
}
#preparation li{
    text-align: justify;
    margin-bottom: 1%;
}

.bind{
    float: left;
}